<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <configSections>
    <section name="entertainmentSites" type="System.Configuration.NameValueSectionHandler" />
    <section name="options" type="System.Configuration.NameValueSectionHandler" />
    <section name="chatProcesses" type="System.Configuration.NameValueSectionHandler" />
    <section name="utility" type="System.Configuration.NameValueSectionHandler" />
    <section name="sounds" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <appSettings>
    <add key="title" value="9gag;boredpanda;youtube;facebook;instagram;reddit;kaskus;soundcloud;imgur;pinterest;whatsapp;twitter;flickr;500px;vimeo;kompas;tempo;twitch;cheezburger;buzzfeed;forbes;wikipedia;ted" />
    <add key="chatprogram" value="Skype™;line" />
  </appSettings>
  <entertainmentSites>
    <add key="title" value="9gag;boredpanda;youtube;facebook;instagram" />
  </entertainmentSites>
  <chatProcesses>
    <add key="process" value="skype;line;" />
  </chatProcesses>
  <options>
    <add key="monitorChat" value="1" />
    <add key="monitorWeb" value="1" />
  </options>
  <utility>
    <add key="monday" value="1" />
    <add key="tuesday" value="2" />
    <add key="wednesday" value="3" />
    <add key="thursday" value="4" />
    <add key="friday" value="5" />
  </utility>
  <sounds>
    
  </sounds>
</configuration>